name: Deployment Pipeline333
on:
push:
    branches:
      -main
    tags:
      -'*'
jobs:
docker:
    name: DockerBuildandPush
    runs-on: ubuntu-latest
    needs: build
    steps: 
      -name:CheckoutCode
        uses:actions/checkout@v3
      -name:LogintoDockerHub
        uses:docker/login-action@v2
        with:
          username:${{secrets.DOCKER_USERNAME}}
          password:${{secrets.DOCKER_PASSWORD}}
      -name:BuildDockerImage
        run:|
          docker build -t ${{ secrets.DOCKER_USERNAME }}/github-action-test:latest .
      -name:PushDockerImage
        run:|
          docker push ${{ secrets.DOCKER_USERNAME }}/github-action-test:latest
