name: Build and Deploy to Staging

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  build:
    name: Build Node.js Project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.8.1'
      
      - name: Install Dependencies
        run: npm install
      
      - name: Build React App
        run: npm run build
      
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-files
          path: |
            dist/
            build/
          if-no-files-found: ignore

  docker:
    name: Docker Build and Push
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/github-action-test:latest
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/github-action-test:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/github-action-test:buildcache,mode=max

  deploy:
    name: Deploy to Remote VPS
    runs-on: ubuntu-latest
    needs: docker
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "Navigating to the Docker Compose file directory"
            cd /path/to/your/repo/
            echo "Stopping and removing any running containers"
            docker stop $(docker ps -q --filter ancestor=${{ secrets.DOCKER_USERNAME }}/github-action-test:latest) || true
            docker rm $(docker ps -aq --filter ancestor=${{ secrets.DOCKER_USERNAME }}/github-action-test:latest) || true
            echo "Removing the old Docker image"
            docker rmi -f ${{ secrets.DOCKER_USERNAME }}/github-action-test:latest || true
            echo "Logging into Docker Hub on the remote server"
            echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
            echo "Pulling the latest image"
            docker pull ${{ secrets.DOCKER_USERNAME }}/github-action-test:latest
            echo "Starting container with Docker Compose"
            docker compose up -d

